---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - stoker.io
  resources:
  - stokers
  - syncprofiles
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stoker.io
  resources:
  - stokers/finalizers
  verbs:
  - update
- apiGroups:
  - stoker.io
  resources:
  - stokers/status
  - syncprofiles/status
  verbs:
  - get
  - patch
  - update
